<div class="container">
  <div class="row">
    <div class="col-6 left-column">
      <h2 class="mt-4"><span class="green">Baskets</span> em sua área</h2>
      <div class="filters">
        <p>tipo</p>
        <p>preço</p>
        <p>estabelecimento</p>
      </div>
      <div class="basket-card">
        <div class="basket-image">
          <div class="tags">
            <span>pães</span>
            <span>bolos</span>
          </div>
        </div>
        <div class="card-text">
          <h3>nome do restaurante</h3>
          <h2>nome da basket</h2>
          <hr>
          <p>Cesta de pães com aproximadamente 1kg</p>
          <div class="card-bottom-info">
            <p>17:45 - 18:30</p>
            <p>R$ 7,89</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="basket-card">
        <div class="basket-image">
          <div class="tags">
            <span>pães</span>
            <span>bolos</span>
          </div>
        </div>
        <div class="card-text">
          <h3>nome do restaurante</h3>
          <h2>nome da basket</h2>
          <hr>
          <p>Cesta de pães com aproximadamente 1kg. Variedades dependem dos itens que sobraram durante o dia</p>
          <div class="card-bottom-info">
            <p>17:45 - 18:30</p>
            <p>R$ 7,89</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="basket-card">
        <div class="basket-image">
          <div class="tags">
            <span>pães</span>
            <span>bolos</span>
          </div>
        </div>
        <div class="card-text">
          <h3>nome do restaurante</h3>
          <h2>nome da basket</h2>
          <hr>
          <p>Cesta de pães com aproximadamente 1kg. Variedades dependem dos itens que sobraram durante o dia</p>
          <div class="card-bottom-info">
            <p>17:45 - 18:30</p>
            <p>R$ 7,89</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 right-column">
      <div id="map" class="mt-5"></div>
    </div>

  </div>




</div>
