<div class="restaurant-banner"></div>
<div class="container">
  <div class="restaurant-info">
    <h1>Padaria do ZeZé</h1>
    <p class="soft-gray mb-1"> padaria</p>
    <div class="std-flex-left">
      <i class="fa fa-star soft-gray" aria-hidden="true"></i>
      <i class="fa fa-star soft-gray" aria-hidden="true"></i>
      <i class="fa fa-star soft-gray" aria-hidden="true"></i>
      <i class="fa fa-star soft-gray" aria-hidden="true"></i>
      <i class="fa fa-star soft-gray" aria-hidden="true"></i>
      <span class="ml-3 soft-gray">3 avaliações </span>
    </div>
    <p class="mb-0">Rua Vinte de Abril, 505</p>
    <p>Sorocaba, SP</p>
  </div>

  <div class="cards">
    <div class="basket-card">
      <div class="basket-image">
        <div class="tags">
          <span>pães</span>
          <span>bolos</span>
        </div>
      </div>
      <div class="card-text">
        <h2>nome da basket</h2>
        <hr>
        <p>Cesta de pães com aproximadamente 1kg</p>
      <div class="food-icons">
        <%= image_tag "vegan.png" %>
        <%= image_tag "lactose-free.png" %>
        <%= image_tag "gluten-free.png" %>
      </div>

      <div class="std-flex-center mt-4">
        <button> - </button>
        <span id="card-count"> 0 </span>
        <button>+</button>
      </div>
        <div class="card-bottom-info">
          <p>17:45 - 18:30</p>
          <p>R$ 7,89</p>
        </div>
      </div>
    </div>
  </div>
</div>
