// Define variables for your color scheme

$off-white: #FCFCFC;
$green: #3EFF8B;
$green-transparency: #3eff8b50;
$black: #141414;
$blue: #548687;
$red: #F89C9C;


$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$soft-gray: #454545b1;
$light-gray: #F4F4F4;
