// Specific CSS for your home-page

.flex-info {

  display:flex;
  align-items: center;
  justify-content: center;

  img {
    width: 70px;
    margin: 10px;
  }

  p {
    margin: 0px;
  }
}

#info-cards {
  position: relative;
      border-radius: 0px 10px 10px 0px;
  #info-bg {
    padding: 25px;
  }
}

#waste-img {
  border-radius: 10px 0px 0px 10px;
  width: 100%;
}


.home-button {
  background-color: $blue;
  box-shadow: none;
  border-radius: 10px 0px 0px 10px;
  border: none;
  height: 50px;
  padding: 0px 5px 0px 20px;
  width: 100%;
  text-align: left;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
