.restaurant-info {

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  p {
    // margin-bottom: 5px;
    margin-top: 0px;
  }

  i {
    line-height: 16px;
    vertical-align: middle;
    padding-top: 3px;
  }
}
