// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/banner";
@import "components/forms";
@import "pages/index";
@import "pages/home";
@import "pages/show";
@import "pages/edit";



.green {
  color: $green
}

.black {
  color: $black;
}

.white {
  color: $off-white;
}

.soft-gray {
  color: $soft-gray;
}

.gradient-bg {
  background-image: linear-gradient($green, $green-transparency);
}


.std-flex-left {
  display: flex;
  // justify-content: center;
  align-content: center;
}

.std-flex-end {
  display: flex;
  justify-content: end;
  align-content: center;
}

.std-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.std-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
